.Logo{
    width: 10%;
    position: relative;
    left: 585px;
    
    
    }
    
    .Cabeçalho{
    background-image: linear-gradient(to left, gray, white , gray);
    
    
    
    
    }
    
    body{
    background-image: url(um-fundo-preto-com-controlador-branco-e-gamepads_658439-32.avif);
    
    
    }

   